@tailwind base;
@tailwind components;
@tailwind utilities;

.w-4em {
    width: 1em;
}

.h-1em {
    height: 0.25em
}

.min-h-1em {
    min-height: 0.25em;
}

.sidebar-in > div > div:nth-child(2) {
    animation: leftFadeIn 1000ms ease-in-out forwards;
}

.sidebar-in > div > div:nth-child(1) {
    animation: fasterLeftFadeIn 750ms cubic-bezier(.34,.67,.66,.12) forwards;
}

.sidebar-out > div > div:nth-child(2) {
    animation: leftFadeOut 750ms cubic-bezier(.34,.67,.66,.12) forwards;
}
.sidebar-out > div > div:nth-child(1) {
    animation: fasterLeftFadeOut 1000ms cubic-bezier(.34,.67,.66,.12) forwards;
}

@keyframes leftFadeIn {
    0% { transform: translateX(100%); opacity: 0 }
    50% { transform: translateX(100%); opacity: 0 }
    100% { transform: translateX(0%); opacity: 1 }
}

@keyframes leftFadeOut {
    0% { transform: translateX(0); opacity: 1 }
    100% { transform: translateX(100%); opacity: 0 }
}
@keyframes fasterLeftFadeIn {
    0% { transform: translateX(100%); opacity: 0 }
    100% { transform: translateX(0%); opacity: 1 }
}
@keyframes fasterLeftFadeOut {
    0% { transform: translateX(0%); opacity: 1 }
    50% { opacity: 1 }
    100% { transform: translateX(100%); opacity: 0 }
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
}
